---
---

@import "minima";

img {
  width: 100%;
}
.container {
  padding: 1vh 0 5vh;
  width: 100%;
  margin: 0 auto;

}
.column {
  column-count: 2;
  column-gap: 0px;
  flex-direction: column;
  width: 100%;
}
.about-container img {
  float: left;
  width: 40%;
  padding-right: 20px;
}
.about-text {
  background-color: yellow;
}
.about-text p {
  padding: 20px 100px 15px;
}

@media only screen and (max-width: 500px) {
  .column {
    column-count: 1;
  }
}